<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17851590883-tqtq0t453mm0l2vjaaicarfchdu124en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17851590883-tqtq0t453mm0l2vjaaicarfchdu124en</string>
	<key>API_KEY</key>
	<string>AIzaSyB07G6As491x4xSFRrLoxck6iPIrSgrxZg</string>
	<key>GCM_SENDER_ID</key>
	<string>17851590883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.configDemo</string>
	<key>PROJECT_ID</key>
	<string>mm-dev-54692</string>
	<key>STORAGE_BUCKET</key>
	<string>mm-dev-54692.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17851590883:ios:54ba4775293c1305683dd6</string>
	<key>DATABASE_URL</key>
	<string>https://mm-dev-54692.firebaseio.com</string>
</dict>
</plist>